<div class="container mt-5">
  <h2 style="margin-left: 37%; margin-bottom: 4%">Liste des Laboratoires</h2>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let labo of labos">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ labo.nom }}</h5>
          <p class="card-text">{{ labo.logo }}</p>
          <button class="btn btn-outline-primary btn-sm mt-2">
            En savoir plus
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
