<div *ngIf="loading">Chargement des laboratoires...</div>
<div *ngIf="error">{{ error }}</div>

<div><h2 class="labs-title">Liste des Laboratoires</h2></div>

<div class="labo-container" *ngIf="!loading && !error">
  <div class="labo-card" *ngFor="let labo of labos">
    <div class="labo-logo">
      <img src="assets/logo-labo.png" alt="Logo" class="logo-img" />
    </div>
    <div class="labo-info">
      <h3 class="labo-name">{{ labo.nom }}</h3>
      <p class="labo-nrc">{{ labo.nrc }}</p>
    </div>
    <div>
      <a type="button" class="btn btn-primary" [routerLink]="['/edit-labo', 1]"
        >Modifier</a
      >
    </div>
  </div>
</div>
